<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnUFupyDcfwIIXm1VvNSAUtAyIXa3si3M</string>
	<key>GCM_SENDER_ID</key>
	<string>512064797690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sracApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sistemariego-13d6e</string>
	<key>STORAGE_BUCKET</key>
	<string>sistemariego-13d6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512064797690:ios:7e67227fb8fc929eff4243</string>
</dict>
</plist>